{% extends 'app/base.html' %} {% block content %}

<div class="text-center my-5">
  <div class="mb-5">
    <h1>店舗一覧</h1>
  </div>
  <div class="row">
    {% for store in store_data %}
      <div class="col-lg-3 col-md-6">
        <div class="card img-thumbnail storelist mb-3">
          {% if store.image %}
            <img src="{{ store.image.url }}" alt="store-image-top" class="card-img-top card-thum" width="100px">
          {% endif %}
          <div class="card-body text-center py-3 px-2">
            <h5 class="font-weight-bold">{{ store.name }}</h5>
            {% if store.address %}
              <p>{{ store.address }}</p>
          {% endif %}
          </div>
          <a href="{% url 'staff' store.pk %}" class="stretched-link"></a>
        </div>
      </div>
      {% empty %}
        <p>まだ店舗がありません</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
